
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
{% if fileData.filename %}

    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>

    <li class="govuk-breadcrumbs__list-item" aria-current="page">{{fileData.filename}}  &nbsp;&nbsp;
    <a class="govuk-link govuk-link--no-visited-state" href="/delete/{{ formId }}">Delete file</a>
    </li>

{% else %}

    <li class="govuk-breadcrumbs__list-item">Home</li>

{% endif %}
  </ol>
</div>

  

  

