{% extends "govuk/template.njk" %}
{% import "answer-types.njk" as answerType %}

{% block head %}
  <link href="/assets/style.css" rel="stylesheet">
{% endblock %}

{% block header %}
    {{ govukHeader({
      useTudorCrown: true
    }) }}
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}



{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "/form-popup/" + formId + "/" + question 
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    {% for question in fileData.pages %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{question.question_text}}
        </dt>
        <dd class="govuk-summary-list__value">
          
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>
      </div>
    {% endfor %}
    </dl>

    <h2 class="govuk-heading-m">Now send your application</h2>

      <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/form-handler" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

  </div>
</div>  

{% endblock %}

{% block footer %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type="module" src="/assets/govuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '/assets/govuk-frontend.min.js'
    initAll()
  </script>  
{% endblock %}