{% extends "govuk/template.njk" %}

{% block head %}
  <link href="assets/style.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

  <h2 class="govuk-heading-m">Original form</h2>

  <img width="100%" style="border: 1px solid #b1b4b6; margin-top: -5px;" src="https://raw.githubusercontent.com/timpaul/form-converter/main/assets/CH2_English_online.jpg" />

  </div>
  <div class="govuk-grid-column-one-half">

  <h2 class="govuk-heading-m">Extracted form</h2>

  {% from "govuk/components/tabs/macro.njk" import govukTabs %}


{% set questionHtml %}

<p class="govuk-body">Questions go here</p>

{% endset -%}

{% set jsonHtml %}
  <pre style="overflow: hidden">{
  "pages": [
    {
      "id": 1,
      "question_text": "Do you have a National Insurance number?",
      "answer_type": "selection",
      "hint_text": "Read page 3 of the I02 Notes."
    },
    {
      "id": 2,
      "question_text": "Your title",
      "answer_type": "selection",
      "hint_text": null
    },
    {
      "id": 3,
      "question_text": "Your last name or family name",
      "answer_type": "text",
      "hint_text": null
    },
    {
      "id": 4,
      "question_text": "Your first name and any middle names",
      "answer_type": "text",
      "hint_text": null
    },
    {
      "id": 5,
      "question_text": "Have you ever been known by any other last names or family names including your maiden name?",
      "answer_type": "selection",
      "hint_text": null
    },
    {
      "id": 6,
      "question_text": "Your date of birth",
      "answer_type": "date",
      "hint_text": null
    },
    {
      "id": 7,
      "question_text": "Your address",
      "answer_type": "address",
      "hint_text": null
    },
    {
      "id": 8,
      "question_text": "Have you lived at this address for more than 12 months?",
      "answer_type": "selection",
      "hint_text": null
    },
    {
      "id": 9,
      "question_text": "Tell us your last address",
      "answer_type": "address",
      "hint_text": null
    },
    {
      "id": 10,
      "question_text": "Your mobile number or landline if you do not have a mobile",
      "answer_type": "phone_number",
      "hint_text": "We may contact you about your claim. Our number may not show up if we call you."
    },
    {
      "id": 11,
      "question_text": "What is your nationality?",
      "answer_type": "selection",
      "hint_text": "This is shown on your passport if you have one, for example, British, Irish, French, Polish."
    },
    {
      "id": 12,
      "question_text": "Have you claimed Child Benefit for any children before?",
      "answer_type": "selection",
      "hint_text": "If No, go to question 14"
    },
    {
      "id": 13,
      "question_text": "Are you currently entitled to or receiving Child Benefit?",
      "answer_type": "selection",
      "hint_text": "If Yes, tell us the full name and date of birth of the eldest child you're entitled to or currently receiving Child Benefit for, then go to question 14"
    }
  ]
}</pre>
{% endset -%}



{{ govukTabs({
  items: [
    {
      label: "Questions",
      id: "tab1",
      panel: {
        html: questionHtml
      }
    },
    {
      label: "JSON",
      id: "tab2",
      panel: {
        html: jsonHtml
      }
    }
  ]
}) }}



  </div>
</div>

{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/assets/all.js"></script>
  <script src="/assets/scripts.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}