{% extends "govuk/template.njk" %}
{% import "answer-types.njk" as answerType %}

{% set currentPageJSON = formData.pages[question-1] %}

{% block head %}
  <link href="/assets/style.css" rel="stylesheet">
{% endblock %}

{% block header %}
  {{ govukHeader({
    useTudorCrown: true
  }) }}
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

  {{ govukBackLink({
    text: "Back",
    href: question-1
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <span class="govuk-caption-m">Question {{question}}</span>

      
      {% if currentPageJSON.answer_type == "date" %}
        {{ answerType.other_date(currentPageJSON.question_text, currentPageJSON.hint_text) }}

      {% elif currentPageJSON.answer_type == "name" %}
        {{ answerType.name(currentPageJSON.question_text, currentPageJSON.hint_text) }}

      {% elif currentPageJSON.answer_type == "number" %}
        {{ answerType.number(currentPageJSON.question_text, currentPageJSON.hint_text) }}

      {% elif currentPageJSON.answer_type == "email" %}
        {{ answerType.email(currentPageJSON.question_text, currentPageJSON.hint_text) }}

      {% elif currentPageJSON.answer_type == "text" %}
        {{ answerType.text(currentPageJSON.question_text, currentPageJSON.hint_text) }}

      {% elif currentPageJSON.answer_type == "national_insurance_number" %}
        {{ answerType.national_insurance_number(currentPageJSON.question_text, currentPageJSON.hint_text) }}

      {% elif currentPageJSON.answer_type == "phone_number" %}
        {{ answerType.phone_number(currentPageJSON.question_text, currentPageJSON.hint_text) }}

      {% elif currentPageJSON.answer_type == "organisation_name" %}
        {{ answerType.organisation_name(currentPageJSON.question_text, currentPageJSON.hint_text) }}

      {% elif currentPageJSON.answer_type == "address" %}
        {{ answerType.address(currentPageJSON.question_text, currentPageJSON.hint_text) }}

      {% elif currentPageJSON.answer_type == "yes_no_question" %}
        {{ answerType.yes_no(currentPageJSON.question_text, currentPageJSON.hint_text) }}

      {% elif currentPageJSON.answer_type == "selection" %}
        <h1 class="govuk-heading-l">
          {{currentPageJSON.question_text}}
        </h1>
        <p class="govuk-body">{{currentPageJSON.hint_text}}</p>

      {% else %}
        <h1 class="govuk-heading-l">
          {{currentPageJSON.question_text}}
        </h1>
        <p class="govuk-body">{{currentPageJSON.hint_text}}</p>
      {% endif %}


  {{ govukButton({
      text: "Continue",
      href: question | float + 1
  }) }}

  </div>
</div>
{% endblock %}



{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/assets/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}