{% extends "govuk/template.njk" %}
{% import "answer-types.njk" as answerType %}

{% set questionJson = fileData.pages[questionIndex] %}

{% block head %}
  <link href="/assets/style.css" rel="stylesheet">
{% endblock %}

{% block header %}

    {{ govukHeader({
      useTudorCrown: true,
      navigationClasses: "new-tab",
      navigation: [{
        text: "Open in new tab",
        href: "/form-popup/" + formId + "/" + (questionIndex+1),
        attributes:{
          target: "_blank"
        }
      }]
    }) }}

{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block beforeContent %}

  {% if questionJson.needs_routing == true %}
    {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
    {{ govukNotificationBanner({
      text: "It looks like this page needs conditional routing. Check the original form.",
      classes: "govuk-!-margin-top-2"
    }) }}
  {% endif %}


  {% if pageNum > 0 and question > 1 %}

    {{ govukBackLink({
      text: "Back",
      href: question-1
    }) }}

  {% endif %}

  {% if pageNum > 1 and question == 1 %}

  {% set lastQuestion = fileData.formStructure[pageNum-2] %}

    {{ govukBackLink({
      text: "Back",
      href: "/results/form-" + formId + "/" + (pageNum - 1) + "/" + lastQuestion,
      attributes:{
          target: "_top"
        }
    }) }}
  {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <span class="govuk-caption-m">Question {{questionIndex+1}}</span>

      
      {% if questionJson.answer_type == "date" and questionJson.answer_settings.input_type == "date_of_birth" %}
        {{ answerType.date_of_birth(questionJson.question_text, questionJson.hint_text) }}

      {% elif questionJson.answer_type == "date" %}
        {{ answerType.other_date(questionJson.question_text, questionJson.hint_text) }}

      {% elif questionJson.answer_type == "name" %}
        {{ answerType.name(questionJson.question_text, questionJson.hint_text) }}

      {% elif questionJson.answer_type == "number" %}
        {{ answerType.number(questionJson.question_text, questionJson.hint_text) }}

      {% elif questionJson.answer_type == "email" %}
        {{ answerType.email(questionJson.question_text, questionJson.hint_text) }}

      {% elif questionJson.answer_type == "text" %}
        {{ answerType.text(questionJson.question_text, questionJson.hint_text) }}

      {% elif questionJson.answer_type == "national_insurance_number" %}
        {{ answerType.national_insurance_number(questionJson.question_text, questionJson.hint_text) }}

      {% elif questionJson.answer_type == "phone_number" %}
        {{ answerType.phone_number(questionJson.question_text, questionJson.hint_text) }}

      {% elif questionJson.answer_type == "organisation_name" %}
        {{ answerType.organisation_name(questionJson.question_text, questionJson.hint_text) }}

      {% elif questionJson.answer_type == "address" %}
        {{ answerType.address(questionJson.question_text, questionJson.hint_text) }}

      {% elif questionJson.answer_type == "yes_no_question" %}
        {{ answerType.yes_no(questionJson.question_text, questionJson.hint_text) }}

      {% elif questionJson.answer_type == "single_choice" %}
        {{ answerType.single_choice(questionJson.question_text, questionJson.hint_text, questionJson.options) }}

      {% elif questionJson.answer_type == "multiple_choice" %}
        {{ answerType.multiple_choice(questionJson.question_text, questionJson.hint_text, questionJson.options) }}

      {% else %}
        <h1 class="govuk-heading-l">
          {{questionJson.question_text}}
        </h1>
        <p class="govuk-body">{{questionJson.hint_text}}</p>
      {% endif %}

      
      {% if fileData.pages.length == question %}
        {{ govukButton({
          text: "Continue",
          href: "/forms/" + formId + "/" + pageNum + "/" + question + "/check-answers"
        }) }}
      {% elif fileData.formStructure[pageNum-1] == question %}
        {{ govukButton({
          text: "Continue",
          href: "/results/form-" + formId + "/" + (pageNum + 1),
          attributes: {target: "_top"}
        }) }}
      {% else %}
        {{ govukButton({
          text: "Continue",
          href: question + 1
        }) }}        
      {% endif %}

  </div>
</div>



{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type="module" src="/assets/govuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '/assets/govuk-frontend.min.js'
    initAll()
  </script>  
  <script src="/assets/scripts.js"></script>
{% endblock %}