{% extends "govuk/template.njk" %}

{% block head %}
  <link href="/assets/style.css" rel="stylesheet">
{% endblock %}


  {% block header %}
    {{ govukHeader({
      serviceName: "Form extractor prototype",
      serviceUrl: "#",
      useTudorCrown: true
    }) }}
  {% endblock %}

{% block beforeContent %}
  {% include "breadcrumbs.njk" %}
{% endblock %}

  {% block content %}

  {% from "govuk/components/input/macro.njk" import govukInput %}
  {% from "govuk/components/button/macro.njk" import govukButton %}
  {% from "govuk/components/tabs/macro.njk" import govukTabs %}

  {% include "upload-panel.njk" %}

  <h2 class="govuk-heading-m">Extracted forms</h2>

  <ul class="govuk-list form-list">
  {% for form in formList %}
    <li>
      <a href="/results/{{form}}/1">
        <img src="/results/{{form}}/page.1.jpeg" />
      </a>
    </li>
  {% endfor %}
  </ul>


{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type="module" src="/assets/govuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '/assets/govuk-frontend.min.js'
    initAll()
  </script>  
  <script src="/assets/scripts.js"></script>
{% endblock %}