{% extends "govuk/template.njk" %}

{% block head %}
  <link href="/assets/style.css" rel="stylesheet">
{% endblock %}


  {% block header %}
    {{ govukHeader({
      serviceName: "Form extractor prototype",
      serviceUrl: "#",
      useTudorCrown: true
    }) }}
  {% endblock %}

{% block beforeContent %}
  {% include "breadcrumbs.njk" %}
{% endblock %}

  {% block content %}

  {% from "govuk/components/input/macro.njk" import govukInput %}
  {% from "govuk/components/button/macro.njk" import govukButton %}
  {% from "govuk/components/tabs/macro.njk" import govukTabs %}


  <h1 class="govuk-heading-m">Extract a form</h1>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">


  {% include "upload-panel.njk" %}

  <h3 class="govuk-heading-s">What is this?</h2>

  <p class="govuk-body">This tool takes an image or PDF of a form, then extracts the structure from it and generates an equivalent web form in the GOV.UK style.</p>



  </div>
  <div class="govuk-grid-column-one-half">


  <ul class="govuk-list form-list">
  {% for form in formList %}
    <li>
      <a href="/results/{{form}}/1">
        <img src="/results/{{form}}/page.1.jpeg" />
      </a>
    </li>
  {% endfor %}
  </ul>
  </div>
  </div>


{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type="module" src="/assets/govuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '/assets/govuk-frontend.min.js'
    initAll()
  </script>  
  <script src="/assets/scripts.js"></script>
{% endblock %}