{% extends "govuk/template.njk" %}

{% block head %}
  <link href="/assets/style.css" rel="stylesheet">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

  <div class="questions">
    {% for question in formData.pages %}
    <div class="question">
      <span class="govuk-caption-m">Question {{question.id}}</span>
      <h3 class="govuk-heading-m">{{question.question_text}}</h3>
      <p class="govuk-body">Hint: {{question.hint_text}}</p>
      <p class="govuk-body">Type: {{question.answer_type}}</p>
    </div>
    {% endfor %}
  </div>

{% endblock %}

{% block footer %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="/assets/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}