
    {% extends "govuk/template.njk" %}

    {% block head %}
      <link href="assets/style.css" rel="stylesheet">
    {% endblock %}

    {% block content %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "govuk/components/accordion/macro.njk"           import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"           import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"         import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% from "govuk/components/character-count/macro.njk"     import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"          import govukCheckboxes %}
{% from "govuk/components/cookie-banner/macro.njk"       import govukCookieBanner %}
{% from "govuk/components/date-input/macro.njk"          import govukDateInput %}
{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "govuk/components/error-message/macro.njk"       import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"       import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"            import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"         import govukFileUpload %}
{% from "govuk/components/input/macro.njk"               import govukInput %}
{% from "govuk/components/inset-text/macro.njk"          import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk"               import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"        import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% from "govuk/components/select/macro.njk"              import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"           import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"        import govukSummaryList %}
{% from "govuk/components/table/macro.njk"               import govukTable %}
{% from "govuk/components/tabs/macro.njk"                import govukTabs %}
{% from "govuk/components/tag/macro.njk"                 import govukTag %}
{% from "govuk/components/textarea/macro.njk"            import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"        import govukWarningText %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        What is your favourite day of the week?
      </h1>
    </legend>
    {{ govukRadios({
      idPrefix: "favourite-day",
      name: "favourite-day",
      fieldset: {
        legend: {
          text: "Select your favourite day"
        }
      },
      hint: {
        text: "Choose one option"
      },
      items: [
        {
          value: "monday",
          text: "Monday"
        },
        {
          value: "tuesday",
          text: "Tuesday"
        },
        {
          value: "wednesday",
          text: "Wednesday"
        },
        {
          value: "thursday",
          text: "Thursday"
        },
        {
          value: "friday",
          text: "Friday"
        },
        {
          value: "saturday",
          text: "Saturday"
        },
        {
          value: "sunday",
          text: "Sunday"
        }
      ]
    }) }}
  </fieldset>
</div>

    {% endblock %}

      {% block bodyEnd %}
      {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
      <script src="/govuk-frontend/all.js"></script>
      <script src="/assets/scripts.js"></script>
      <script>window.GOVUKFrontend.initAll()</script>
    {% endblock %}
  